@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/device-width' as deviceWidth;

.mfGrid {
	display: grid;
	gap: 1rem;

	@include breakpoints.breakpoint(deviceWidth.$screen-md) {
		grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	}

	&--cols-1 {
		display: flex;
		flex-direction: column;
	}

	&--cols-2 {
		@include breakpoints.breakpoint(deviceWidth.$screen-md) {
			grid-template-columns: repeat(2, minmax(15rem, 1fr));
		}
	}

	&--cols-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	&--cols-4 {
		@include breakpoints.breakpoint(deviceWidth.$screen-sm) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoints.breakpoint(deviceWidth.$screen-md) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
