@use '../../foundation/color.scss' as color;

.mfCard {
	background-color: color.$card-bg;

	box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
	border-radius: 8px;
	padding: 1rem;
	transition: background-color 0.3s ease, border-color 0.3s ease;

	&--filled {
		background-color: color.$card-bg;
		color: color.$foreground;
	}

	&--outlined {
		border-top: 2px solid color.$border;
		border-bottom: 2px solid color.$border;
		border-radius: 0;
	}

	&--elevated {
		box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
	}
}
