$icon-size: 1.2em;

.mf-icon {
	display: inline-flex;
	width: $icon-size;
	min-width: $icon-size;
	max-width: $icon-size;
	height: $icon-size;
	max-height: $icon-size;
	min-height: $icon-size;
	padding: 0.5rem;
	border: 0.063rem solid var(--color-primary);
	border-radius: 0.5rem;
	background: hsl(16.71 100% 50% / 5%);

	path {
		fill: var(--color-primary);
	}
}
