@use '../../foundation/typography.scss' as typography;

.mfHeader {
	color: var(--color-foreground);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 2rem;
	margin-bottom: 3rem;

	&--logo {
		@include typography.fluid-font(1.25rem, 2rem);

		display: flex;
		align-items: center;
		gap: 1rem;
		text-decoration: none;
		color: var(--color-foreground);
	}
}
