@use '../../foundation/typography.scss' as typography;
@use '@/foundation/device-width' as device-width;

.mfHeader {
	color: var(--color-heading);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem 2rem 3rem;
	border-bottom: 0.063rem solid var(--color-border);

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: device-width.$content-width-max;
		margin: 0 auto;
	}

	&--logo {
		@include typography.fluid-font(1.3rem, 1.75rem);

		display: flex;
		align-items: center;
		gap: 1rem;
		text-decoration: none;
		color: var(--color-heading);
	}

	&--title {
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
	}

	&--title-line:last-child {
		@include typography.fluid-font(0.875rem, 1rem);

		color: var(--color-primary);
	}
}
