.mfLink {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	color: var(--color-primary);
	font-weight: 500;
	transition: color 0.3s ease;
	border-bottom: 0.05rem solid transparent;

	&:hover {
		border-bottom: 0.05rem solid var(--color-primary);
	}

	&--external::after {
		content: '↗';
		font-size: 0.75em;
		margin-left: 0.25rem;
	}

	&--icon {
		display: inline-flex;
		align-items: center;
		height: 1.5em;
		width: 1.5em;

		.mf-icon {
			margin-right: 0.5rem;
		}
	}
}
