@use '@/foundation/typography' as typography;

.h-tag {
	font-optical-sizing: auto;
	line-height: 1.5;
	font-weight: 400;

	&--sm {
		@include typography.fluid-font(1rem, 1.5rem);
	}

	&--md {
		@include typography.fluid-font(1.25rem, 2rem);
	}

	&--lg {
		@include typography.fluid-font(1.5rem, 2.25rem);
	}

	&--underlined span {
		display: inline-block;
		margin-top: 0.25rem;
		border-bottom: 0.25rem solid var(--color-primary);
		padding-bottom: 0.25rem;
	}
}
