@use '@/foundation/typography' as typography;

.h-tag {
	font-optical-sizing: auto;
	font-weight: 400;
	line-height: 1.5;
	color: var(--color-heading);

	&--sm {
		@include typography.fluid-font(1rem, 1.5rem);
	}

	&--md {
		@include typography.fluid-font(1.25rem, 2rem);
	}

	&--lg {
		@include typography.fluid-font(1.5rem, 2.25rem);
	}

	&--xl {
		@include typography.fluid-font(1.75rem, 3rem);
	}

	&--xxl {
		@include typography.fluid-font(2rem, 3.5rem);
	}

	&--underlined span {
		border-bottom: 0.025rem solid var(--color-primary);
		display: inline-block;
		margin-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	&--suffix {
		color: var(--color-orange);
		text-shadow: 0 0 1.3rem var(--color-orange);
		display: block;
	}
}
